.navigation{
    background-color: #355f2e;
    color: #a7ca87;
}

.container.navigation .navbar-nav .nav-link{
    color: #a7ca87;
} 

.navbar-nav .nav-item .nav-link.active {
    color: #efeae1; 
}

.container.navigation .navbar-nav .nav-link:hover{
    color: #fbf6f3;
    text-shadow: 1px 2px black;
} 

.navbar-nav {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    font-size: 20px;
    font-weight: light;
}

.active{
    color: #fbf6f3;
}

.nav-item-right {
    margin-left: auto; 
}

.main-area{
    background-color: #efeae1;
}

h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI';
    margin: 0;
}

.about-area {
    padding-top: 5em;
    text-align: left;
    font-weight: light;

    h2{
        text-align: left;
        padding-left: 16pt;
    }
}


.container.main-area{
    background-color: #efeae1;
    padding: 3%;
    height: 100vh;
}

.current-reservations{
    border: 5px solid #355f2e;
    padding: 10px;
    margin: 2px;
    margin-top: 130px;
    background-color:#cdcfc0;
    
}

.up-res-home{
    text-align: center;
    line-height: 1;
    
    thead{
        position: sticky;
        z-index: 1;
    }
}

.stacked-rows{
    display: flex;
    flex-direction: column; 
}

tr{
    text-align: center;
}

.search-lab-seat{
    border: 5px solid #355f2e;
    padding: 10px;
    margin: 2px;
    margin-top: 9vh;
    background-color: #cdcfc0;
}

.warning{
    text-align: center;
    color: red;
    margin-top: 15px;
    margin-bottom: 50px;
    line-height: 1;
}

.col-5.profile-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a7ca87;
    justify-content: center;
    padding-top: 5em;
    
}

.col-5.profile-area img {
    width: 170px; 
    height: 170px;
    border-radius: 50%; 
    object-fit: cover; 
    
}

.container.about-reservation{
    background-color: #cdcfc0;
    overflow-y: auto;
    max-height: 200px;
    border: #355f2e solid 5px;
    padding: 2%;
} 

.table thead{
    background-color: #b9b4a2;
}


