
/* NAVIGATION AREA */
.navigation{
    background-color: #355f2e;
    color: #a7ca87;
}

.container.navigation .navbar-nav .nav-link{
    color: #a7ca87;
} 

.navbar-nav .nav-item .nav-link.active {
    color: #efeae1; 
}

.container.navigation .navbar-nav .nav-link:hover{
    color: #fbf6f3;
    text-shadow: 1px 2px black;
} 

.navbar-nav {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    font-size: 20px;
    font-weight: light;
}

.active{
    color: #fbf6f3;
}

.nav-item-right {
    margin-left: auto; 
}
/*          =============================================================                 */


.main-area{
    background-color: #efeae1;
    height: 100vh;
}

h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI';
    margin: 0;
}

tr{
    cursor: pointer;
}

.editable-textarea {
    border: 1px solid #d0d0d0; 
    padding: 10px;
    height: 130px;
    width: 650px; 
    cursor: text;
    background-color: #cccbc7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    resize: none;
}

.editable-textarea:focus {
    outline: 2px solid #355f2e;
}


.container.main-area{
    background-color: #efeae1;
    padding: 3%;
    height: 100vh;
}

.current-reservations{
    border: 5px solid #355f2e;
    padding: 10px;
    margin: 2px;
    margin-top: 130px;
    background-color:#cdcfc0;
    
}

.home-reservations{
    height: 200px; /* Fixed height */
    padding: 8px;
}

.table-responsive {
    height: 180px;
    overflow-y: auto;
    display: block; 
}


.stacked-rows{
    display: flex;
    flex-direction: column; 
}

tr{
    text-align: center;
}

.search-lab-seat{
    border: 5px solid #355f2e;
    padding: 10px;
    margin: 2px;
    margin-top: 9vh;
    background-color: #cdcfc0;
}

/* PROFILE PAGE */
.warning{
    text-align: center;
    color: red;
    margin-top: 15px;
    margin-bottom: 50px;
    line-height: 1;
}

.btn-danger {
    padding: 10px 20px;
    cursor: pointer;
}

#deleteModal{
    color: #0f421d;
}

.update-profile-bt {
    background-color: #355f2e !important; 
    color: white !important; 
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.update-profile-bt:hover {
    background-color: #0f421d; 
}

.profile-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a7ca87;
    padding-top: 3.5em;
    padding-left: 9% !important;
    
}

.profile-area img {
    width: 270px; 
    height: 270px;
    border-radius: 50%; 
    object-fit: cover; 
    
}

#saveProfileUpdate{
    color: black;
}

.about-area {
    padding-top: 5em;
    padding-right: 4% !important;
    text-align: left;
    font-weight: light;
    

    h2{
        text-align: left;
        padding-left: 16pt;
    }
}

.view-acc-back{
    position: absolute;
    top: 15vh;
    left: 25vh;
    color: #355f2e !important;
}

/* about page reservations*/
#about-table-header th {
    text-align: center; /* Center the text */
    font-size: 12px; /* Your specified font size */
}


.up-res-home thead {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b9b4a2;
    border: #b9b4a2 1px solid;
    z-index: 1000;
}

thead th {
    padding: 12px !important; 
}

.container.about-reservation {
    background-color: #cdcfc0;
    height: 220px; 
    border: #355f2e solid 3px;
    padding: 2%;
}

.up-res-home {
    text-align: center;
    line-height: 1;
    
}

#about-reservations{
    max-height: 175px;
    overflow: auto;
}

/* EDIT RESERVATION */
.edit-reservation{
    background-color: #355f2e;
    margin: 5em;
    height: 64vh;
    width: 150vh !important;
    border-radius: 20px;
    
}


#edit-res-title {
    color: #cdcfc0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
    padding-right: 4rem;
}

.back-arrow{
    font-size: 48px;
    font-weight: bolder;  
    color: #cdcfc0;  
    text-decoration: none;               
    padding-left: 20px ;
    padding-top: 35px ; 
}

.back-arrow:hover {
    color: #b9b4a2;
}

.edit-placeholder{
    background-color: #cdcfc0;
    height: 40vh;
    width: 100vh !important;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.content-box{
    height: 15%;
    width: 80%;
    background-color: #b9b4a2;
    border-radius: 20px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center; 
    padding: 2%;
    margin: .5%;
}

.content-box > br{
    text-align: center;
}

.value-name{
    font-weight: bold;
}

.value{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding-right: 2px;
    line-height: 1rem;
}

.edit-placeholder.buttons{
    background-color: #355f2e;
    height: auto;
    margin: 1.5%;
    padding-left: 30%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

#delete-reservation{
    background-color: #d63f3f;
    color: #d9d9d9;
    font-weight: bold;
}

#confirm-reservation{
    background-color: white;
    color: #355f2e;
    font-weight: bold;
}


/* RESERVATIONS PAGE */
.all-reservations{
    height: 70vh;
    width: 75vw !important;
    background-color: #b9b4a2;
    margin-top: 5vh;
    border-radius: 15px;
    align-content: center;
    text-align: center;
}

.all-reservations > h1 {
    font-weight: bolder;
    font-size: 35pt;
    color: #355f2e;
}

.all-reservations-container{
    background-color: #cdcfc0;
    width: 65vw !important;
    height: 45vh;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    padding: 25px !important;
}

.table-row-all-res {
    font-size: 15.5px !important;
}

#all-res-page{
 height: 260px;  
 align-items: center;
 justify-content: center; 
}















