<!--NAVIGATION BAR -->
<div class="container navigation sticky-top">
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/account">
                <img src="{{pfp}}" alt="Profile Image" style="width:40px; height: 45px;" class="rounded-circle"> 
            </a>
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentRoute 'home')}}active{{/if}}" href="/home">Home</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentRoute 'account')}}active{{/if}}" href="/account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentRoute 'reservations')}}active{{/if}}" href="/reservations">Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentRoute 'lab-select-building')}}active{{/if}}" href="/lab-select-building">Laboratories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if (eq currentRoute 'about')}}active{{/if}}" href="/about">About</a>
            </li>
            <li class="nav-item nav-item-right">
                <a class="nav-link" href="/login">Logout</a>
            </li>
        </ul>
        </div>
    </nav>
</div>
